.App {
  width: 100vw;
  height: 100vh;
}

.app-content{
  position: relative;
}

.fs-small{
  font-size: 70% !important;
}

.loading-container{
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.puzzle-image {
  opacity: 0;
}

.fade-in {
	-webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.context-menu{
  position: fixed;
  width: 300px;
  z-index: 20;
  padding: 50px;
}

.toast-message{
  padding-top: 80px;
  opacity: 90%;
}

.nav-places-count{
  width: 65px;
}

.discovered-tack{
  position: absolute;
  z-index: 10;
  font-size: 300%;
	-webkit-animation: slide-in-top 0.5s ease-in-out both;
	        animation: slide-in-top 0.5s ease-in-out both;
}

 @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.place-thumbnail{
  width: 50px;
  height: 40px;
  object-fit:fill;
}
